{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="index_container">
        <div>
            <span style="font-size:4rem; color:#d32f2f; font-weight:bold; letter-spacing:2px;">OSBT</span><br>
            <span style="font-size:1.5rem; color:#d32f2f; font-weight:bold; letter-spacing:1px; text-transform:uppercase;">
                OFFICE SEAT BOOKING TOOL
            </span><br>
        </div>
    </div>

{% endblock %}